footer {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: black;
    height: 350px;
}
.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info h1 span {
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.footer-info h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.footer-info svg {
    margin-left: 50px;
    margin-right: 50px;
    width: 20%;
}
.footer-info  i{
    font-size: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
#icon {
    border: none;
}
.footer-info a {
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid white;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .footer-info {
         display: block !important;
         padding-top: 20px !important;
         text-align: center !important;
     }
    .footer-info svg{
        display: none !important;
    }
    .footer-info i {
        font-size: 100px !important;
        margin: 0px !important;
    }
    .footer-info h1 {
        font-size: 20px !important;
        margin: 20px 0px !important;
    }
    .footer-info h1 span {
        font-size: 30px !important;
    }
    #order-icon {
       display: none !important;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 

