#gallery-page {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.gallery-wrapper {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* height: 3500px; */
    width: 100vw;
}
.gallery-wrapper::after {
    content: "";
    background: url(/IMG/knockout.png);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}
#knockout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0.05;
    opacity: 25%;
}
.gallery-wrapper #header {
    position: relative;
    z-index: 1;
    height: 90px;
    background: black;
    width: 100%;
    overflow: hidden;
}
.icon {
    padding: 20px 50px;
    float: right;
}
.icon:hover {
    cursor: pointer;
}
.gallery-wrapper .bar{
    background: white;
    color: white;
    width: 80px;
    height: 10px;
    margin-bottom: 10px;
}
.gallery-wrapper .icon:hover{
    cursor: pointer;
}
#gallery-page .links {
    font-family: 'Roboto', sans-serif;
    display: none;
    position: absolute;
    background: black;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    position: fixed;
}
#gallery-page .links a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px;
    transition: .25s ease-in-out;
}
#gallery-page .links a:hover {
    color: #ffba27;
}
#gallery-page #close {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    font-weight: 100;
    font-size: 100px;
    cursor: pointer;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 50px;
}
.gallery .img1 {
    background: url(/IMG/biscoff.JPG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img2 {
    background: url(/IMG/walnut.JPG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img3 {
    background: url(/IMG/cake.JPEG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img4 {
    background: url(/IMG/captn-crunch.JPG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img5 {
    background: url(/IMG/cheesecake.jpg);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img6 {
    background: url(/IMG/cookie.JPG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img7 {
    background: url(/IMG/pebbles.JPG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img8 {
    background: url(/IMG/cupcake.jpg);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img9 {
    background: url(/IMG/cupcake2.jpg);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img10 {
    background: url(/IMG/fried\ oreo.JPG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img11 {
    background: url(/IMG/kobe.JPG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}
.gallery .img12 {
    background: url(/IMG/sugar.JPG);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
}


@media only screen and (max-width: 600px){
    #gallery-page .links a {
        font-size: 50px;
    }
    #gallery-page #close {
        font-size: 50px;
    }
}
